@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
    :root {
        --primary-100: 245, 196, 0, 0.125;
        --primary-300: 254, 248, 223;
        --primary-500: 252, 240, 191;
        --primary-700: 250, 225, 128;
        --primary-900: 247, 211, 64;

        --blue-50: 248, 248, 252;
        --blue-100: 224, 225, 241;
        --blue-300: 193, 195, 226;
        --blue-500: 131, 135, 197;
        --blue-700: 69, 74, 169;
        --blue-900: 7, 14, 140;
        --blue-primary: 8, 15, 137;

        --accent-300: 198, 197, 197;
        --accent-500: 141, 140, 139;
        --accent-700: 85, 85, 85;
        --accent-900: 28, 25, 23;

        --bg-light: 250, 250, 253;
        --bg-gray: 238, 238, 247;

        --gray-main: 204, 204, 204;
        --gray-text: 85, 85, 85;

        --error-main: 219, 85, 77;
        --success-main: 64, 183, 90;

        --shadow-main: 0px 0px 5px 0px #4f639840;
        --shadow-main-lg: 0px 0px 20px 0px #4f639880;
        --shadow-login: 0px 0px 25px 0px #0000000f;
    }

    *::-webkit-scrollbar {
        @apply w-1.5 h-1.5 bg-transparent;
    }

    *::-webkit-scrollbar-thumb {
        @apply w-1.5 h-1.5 rounded-md bg-blue-300;
    }

    html,
    body,
    #root {
        @apply h-full !font-inter scroll-smooth;
    }
}

.container {
    @apply max-w-[1280px] h-full w-full px-4 mx-auto;
}

.ant-typography {
    @apply !font-inter text-[16px] text-inherit;
}

.ant-btn.text-black span {
    @apply !text-black;
}

.ant-btn-default:not(.ant-btn-background-ghost) {
    @apply w-fit h-auto py-3 px-14 rounded-md font-semibold text-[16px] uppercase !text-white bg-blue-700 hover:!bg-blue-900 disabled:!bg-blue-500;
}

.ant-btn-default.ant-btn-lg:not(.ant-btn-background-ghost) {
    @apply px-24;
}

.ant-select,
.form-select {
    @apply w-fit h-auto min-w-[300px];
}

.ant-select svg path,
.form-select svg path {
    @apply stroke-blue-500;
}

.ant-select-arrow,
.form-select-arrow {
    @apply !right-4;
}

.ant-select-selector,
.form-select-selector {
    @apply w-full !py-3 !px-4 !rounded-xl !border-blue-500;
}

.form-select-selector {
    @apply !rounded-none !border-blue-500;
}

.ant-select-open .ant-select-selector {
    @apply !rounded-b-none;
}

.ant-select-selection-item,
.ant-select-selection-placeholder,
.form-select-selection-item,
.form-select-selection-placeholder {
    @apply font-semibold text-[16px] !text-blue-500;
}

.ant-select-dropdown,
.form-select-dropdown {
    @apply !p-0 !rounded-none border !border-blue-500;
}

.form-select-dropdown {
    @apply !rounded-none !border-blue-300;
}

.ant-select-item-option,
.form-select-item-option {
    @apply !py-3 !px-4 !font-semibold;
}

.ant-select-selection-item-active,
.form-select-selection-item-active {
    @apply !bg-blue-100;
}

.sort-select,
.lang-select {
    @apply w-fit h-auto !border-none;
}

.sort-select svg path,
.lang-select svg path {
    @apply stroke-blue-500;
}

.sort-select-arrow,
.lang-select-arrow {
    @apply !right-4;
}

.sort-select-arrow {
    @apply !right-0;
}

.sort-select-selector,
.lang-select-selector {
    @apply flex items-center justify-center !w-10 !h-10 hover:!bg-gray-200 !rounded-full !border-none !shadow-none;
}

.sort-select-selector {
    @apply !w-auto !h-auto hover:!bg-transparent;
}

.sort-select-selector .ant-typography,
.lang-select-selector .ant-typography {
    @apply !hidden;
}

.sort-select-selection-item,
.sort-select-selection-placeholder,
.lang-select-selection-item,
.lang-select-selection-placeholder {
    @apply font-semibold text-[16px] !text-blue-500;
}

.sort-select-selection-search-input,
.sort-select-selection-search-input::placeholder {
    @apply !capitalize;
}

.sort-select-dropdown,
.lang-select-dropdown {
    @apply !w-auto !rounded-md !p-0 border;
}

.sort-select-dropdown {
    @apply !min-w-40;
}

.sort-select-item-option,
.lang-select-item-option {
    @apply !py-3 !px-4 !font-semibold;
}

.sort-select-selection-item-active,
.lang-select-selection-item-active {
    @apply !bg-blue-100;
}

.ant-modal-wrap:not(.image-editor) .ant-modal-body,
.ant-modal-wrap:not(.image-editor) .ant-modal-content {
    @apply !w-fit !p-0 !bg-transparent !shadow-none;
}

.ant-modal-wrap:not(.image-editor) .ant-modal-close,
.ant-modal-wrap:not(.image-editor) .ant-modal-footer {
    @apply hidden;
}

.ant-notification-notice-wrapper {
    @apply !rounded-none !-mr-6 !mt-14;
}

.ant-notification-notice {
    @apply flex items-center;
}

.ant-notification-notice-with-icon {
    @apply flex items-center;
}

.ant-notification-notice-message {
    @apply !m-0 !ml-10 !font-semibold !text-[16px] !text-blue-700;
}

.ant-form-item {
    @apply !h-auto;
}

.ant-form-item-label label::after {
    @apply hidden;
}

.ant-input::placeholder {
    @apply !capitalize;
}

.search-input-affix-wrapper {
    @apply !p-2 rounded-md border-blue-300;
}

.search-input-prefix {
    @apply !mr-4;
}

.search-input {
    @apply !text-[16px];
}

.search-input::placeholder {
    @apply !capitalize;
}

.CircularProgressbar {
    @apply !w-20 !h-20;
}

.CircularProgressbar-text {
    @apply font-extrabold !fill-black;
}

.ant-collapse {
    @apply !border-blue-300 !bg-transparent;
}

.ant-collapse-item {
    @apply !rounded-md !border-blue-300;
}

.ant-collapse-header {
    @apply !p-4;
}

.ant-collapse-header svg {
    @apply transition-all !duration-300;
}

.ant-collapse-content {
    @apply !border-none;
}

.ant-collapse-content-box {
    @apply !pt-0 ml-4;
}

.ant-collapse-header[aria-expanded="true"] svg {
    @apply rotate-180;
}

.ant-table {
    @apply border !font-semibold !rounded-md !border-t-0 !rounded-t-none;
}

.ant-table thead {
    @apply !hidden;
}

.ant-table td {
    @apply border-r last-of-type:border-none;
}

.ant-table td.id {
    @apply !w-10 text-center;
}

.ant-pagination {
    @apply !justify-center;
}

.ant-pagination-item {
    @apply !border-none;
}

.ant-pagination-item a {
    @apply border rounded-md !text-black border-gray-300;
}

.ant-pagination-item-active a {
    @apply !border-blue-900 bg-blue-900 !text-white;
}

.ant-pagination-next,
.ant-pagination-prev {
    @apply flex items-center justify-center border rounded-md border-gray-300;
}

.ant-pagination-next svg path,
.ant-pagination-prev svg path {
    @apply !fill-black;
}

.ant-drawer .ant-select-selector {
    @apply !rounded-none !py-2;
}

.ant-select-multiple .ant-select-selector {
    @apply !py-0;
}

.ant-select-multiple .ant-select-selection-item {
    @apply flex items-center !bg-blue-500 !text-white !px-2.5 !py-1 !h-auto !rounded-2xl;
}

.ant-select-multiple .ant-select-selection-item-remove {
    @apply flex items-center justify-center w-3.5 h-3.5 rounded-full border border-white !text-white;
}

.ant-select-multiple .ant-select-selection-item-remove svg {
    @apply !w-2 !h-2;
}

.ant-col {
    @apply min-h-0;
}

.ant-row {
    @apply h-full;
}

.ant-picker {
    @apply !border-blue-500 rounded-none w-full !py-0;
}

.ant-picker input,
.ant-picker input::placeholder {
    @apply !text-blue-700;
}

.ant-picker-panel-container,
.ant-picker-panel-layout,
.ant-picker-panel-layout > div,
.ant-picker-panel,
.ant-picker-time-panel-cell-inner {
    @apply !w-full;
}

.ant-row {
    @apply h-2/3;
}

.ant-avatar {
    @apply h-12 w-12;
}

.ant-avatar-string {
    @apply font-bold text-lg;
}
